
/* UNIVERSAL STYLING */
html {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}



h3 {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 500;
}

 p {
   line-height: 1.6;
 }

/* HEADER AND NAVIGATION */
header {
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}

.mobile-nav {
  display: none;
}

.desktop-nav {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 2px 11px #565656;
}

.nav-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin-left: 24px;
}

.nav-logo img {
  height: 50px;
}

.nav-logo p {
  display: inline;
}

.logo-text {
  font-size: 24px;
  color: #670000;
}

.logo-text span {
  font-weight: 600;
}

.desktop-nav li {
  display: inline;
  padding-left: 16px;
}

.desktop-nav a {
  text-decoration: none;
  color: #670000;
}

.desktop-nav a:hover {
  text-decoration: underline;
}

.desktop-nav .homelink:hover {
  text-decoration: none;
  color: #6f6f6f;
  transition: color .75s;
}

.desktop-nav ul {
  margin-right: 24px;
}

/* MEDIA QUERIES FOR HEADER */

@media only screen and (max-width: 480px) {
.desktop-nav {
  display: none;
}

.mobile-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background-color: #ffffff;
}

.mobile-nav li {
  display: inline;
  padding-left: 36px;
  padding-right: 36px;
}

}


/* MAIN SECTION */
.main {
  margin-top: 64px;
  background-color: #cc9933;
  display: flex;
}

.lrg-image {
  width: 60%;
  padding: 32px 24px;
}

.lrg-image img {
  width: 100%;
}

.intro {
  width: 40%;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-shadow: 1px 1px 3px #6f6f6f;
}

.intro h1 {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.2;
}

.start-btn {
  text-align: center;
  width: 65%;
  padding: 8px;
  margin-top: 40px;
  border-radius: 5px;
  box-shadow: 4px 4px 9px #232323;
  text-shadow: none;
  transition: color .75s, background-color .75s;
}

.intro a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  background-color: #670000;
}

.intro a:active {
  text-decoration: none;
  font-size: 20px;
  box-shadow: none;
}

.intro a:hover {
  text-decoration: none;
  font-size: 20px;
  background-color: #6f6f6f;
}


/* MEDIA QUERIES FOR MAIN SECTION */
@media only screen and (max-width: 768px) {
.intro h1 {
  font-size: 30px;
}

.intro h3 {
  font-size: 18px;
}

}


@media only screen and (max-width: 480px) {
.main {
 flex-direction: column;
}

.main .lrg-image {
  width: 100%;
  padding: 0px;
}

.intro {
  width: 100%;
  padding-right: 16px;
  padding-bottom: 32px;
}

.intro h1 {
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 38px;
}

.intro h3 {
  font-size: 24px;
}

.start-btn {
  width: 90%;
  margin-top: 24px;
}
}



/* CAMPUS SECTION */
.campus {
  display: flex;
  color: #670000;
}

.lrg-image h1 {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.2;
}

.mobile-img {
  display: none;
}

.lrg-image h1,
.quote-credit {
  margin-top: 32px;
}

.events {
  width: 41.15%;
  display: flex;
  flex-direction: column;
}

.orientation,
.our-campus,
.lecture {
  display: flex;
  align-items: center;
  border: 1px solid #670000;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
  padding-left: 16px;
}

.event-info {
  display: flex;
  flex-direction: column;
}

.orientation {
  margin-top: 32px;
}

.our-campus {
  margin-top: 16px;
}

.lecture {
  background-color: #670000;
  color: #ffffff;
  margin-top: 16px;
}

.lecture p,
.lecture h3 {
  color: #ffffff;
}

.lecture .read-more {
  color: #ffffff;
  border: 1px solid #ffffff;
}

.lecture .read-more:active {
  background-color: #ffffff;
  color: #670000;
}

.desktop-img {
  width: 35%;
  margin: 16px 16px 16px 0px;
}

.event-info p {
  margin-top: 8px;
}

.read-more {
  width: 125px;
  text-decoration: none;
  margin-top: 20px;
  color: #670000;
  border: 1px solid #670000;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  transition: color .75s, background-color .75s;
}

.read-more:hover {
  background-color: #cc9933;
  color: #ffffff;
}

.read-more:active {
  background-color: #670000;
  color: #ffffff;
}



/* MEDIA QUERIES FOR CAMPUS SECTION */
@media only screen and (max-width: 768px) {
.lrg-image h1 {
  font-size: 30px;
}

.event-info h3 {
  font-size: 18px;
  margin-top: 4px;
}

.event-info p {
  font-size: 14px;
  margin-top: 4px;
}

.read-more {
  width: 110px;
  margin-top: 8px;
  margin-bottom: 4px;
}

}


@media only screen and (max-width: 480px) {
.desktop-img {
  display: none;
}


}


/* COURSES SECTION */
.courses {
  background-color: #cc9933;
  padding-bottom: 16px;
}

.courses h1 {
  padding-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 3px #6f6f6f;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.2;
}

.course-selections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.course-option {
  width: 30%;
  margin: 0px 16px 16px 16px;
  background-color: #ffffff;
  transition: background-color .75s;
  box-shadow: 2px 2px 16px -4px;
}

.course-option:hover {
  background-color: #670000;
}

.course-option:active {
  background-color: #ffffff;
}

.courselink {
  text-decoration: none;
  color: #670000;
  transition: color .70s;
}

.courselink:hover {
  color: #ffffff;
}

.courselink:active {
  color: #670000;
}

.course-img {
  width: 100%;
}

.course-description {
  padding : 16px 16px 24px 16px;
}

.course-description p {
  padding-top: 8px;
}

/* MEDIA QUERIES FOR COURSES SECTION */
@media only screen and (max-width: 768px) {


}


@media only screen and (max-width: 480px) {



}


/* THESIS SECTION */
.exhibits {
  display: flex;
}

.thesis {
  padding-bottom: 32px;
  color: #670000;
}

.thesis h1 {
  padding-top: 32px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: 1.2;
}

.video-div {
  width: 60%;
  padding: 0px 16px 0px 24px;
}

.video-div video {
  width: 100%;
  padding-bottom: 24px;
}

.video-div p {
  padding-top: 24px;
}

.sub-exhibits {
  width: 40%;
}

.feature {
  display: flex;
  align-items: center;
  border: 1px solid #670000;
  border-radius: 5px 0px 0px 5px;
  border-right: 0px;
}

.feature-img {
  width: 35%;
  padding: 16px;
}

.feature-info {
  padding-right: 16px;
}


.first.feature {
  background-color: #670000;
  transition: background-color .75s, color .75s;
}

.first.feature h3,
.first.feature p {
  color: #ffffff;
}

.second.feature {
  margin-top: 16px;
  transition: background-color .75s, color .75s;
}

.featurelink {
  text-decoration: none;
  color: #670000;
}

.first:hover,
.second:hover {
  background-color: #cc9933;
  text-decoration: none;
}

.featurelink .second:hover {
  color: #ffffff;
}

.featurelink .second:active {
  color: #670000;
}

.first:active {
  background-color: #670000;
}
.second:active {
  background-color: #ffffff
}



/* MEDIA QUERIES FOR THESIS SECTION */
@media only screen and (max-width: 768px) {
.feature-info h3 {
  font-size: 18px;
}

.feature-info p {
  font-size: 14px;
}

}


@media only screen and (max-width: 480px) {



}


/* FOOTER SECTION */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #670000;
  padding-top: 16px;
  padding-bottom: 16px;
}

footer .copyright,
footer ul {
  color: #ffffff;
  padding-left: 24px;
  padding-right: 24px;
}

footer li {
  display: inline;
  padding-left: 16px;
}


footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a:hover {
  text-decoration: underline;
}


/* MEDIA QUERIES FOR FOOTER SECTION */
@media only screen and (max-width: 768px) {


}


@media only screen and (max-width: 480px) {



}
