html {
  font-size: 16px;
  font-family: ;
}


/* HEADER AND NAVIGATION */
header {
  width: 100%;
  position: fixed;
  z-index: 5;
}

.mobile-nav {
  display: none;
}

.desktop-nav {
  height: 64px;
  display: flex;
  align-items: center;
  background-color: grey;
}

.nav-logo {
  flex-grow: 1;
  display: flex;
  align-items: center;
  background-color: purple;
  margin-left: 24px;
}

.nav-logo p {
  display: inline;
}

.desktop-nav li {
  display: inline;
  padding-left: 16px;
}

.desktop-nav ul {
  margin-right: 24px;
}

/* MEDIA QUERIES FOR HEADER */
@media only screen and (max-width: 480px) {
  .desktop-nav {
    display: none;
  }


}




/* MAIN SECTION */
